*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.bcf
*.run.xml

*.nav
*.snm
*.vrb

out/
latexmk/
*.pdfpc
*.pdfsync

*.swp
*.swo

.vscode/
*.code-workspace

.DS_Store
Thumbs.db

*.bak
*.backup
*.tmp
*.temp
*.bbl-SAVE-ERROR
